/** @format */






/* 
.sidebar {
	padding: 1;
	background-color:green;
	border-radius:10px;
} */

/* .sidebar a {
	display: block;
	color: rgb(12, 11, 11);
}

.sidebar a.active {
	background-color: #ec10e1;
	border-radius: 0.1rem;
}  */
